<div class="all">
    <h1>{{ enemigo.titulo }} <small>{{ enemigo.year }}</small></h1>
    <hr>

    <div class="card">
      <img [src]="enemigo.img" [alt]="enemigo.nombre">

      <br><br>
      <a [routerLink]="'/enemigos'" class="regresar">Regresar</a>
    </div>

    <div>
      <h3> {{ enemigo.nombre }} </h3>
      <hr>
      <p>
        {{ enemigo.descripcion }}
      </p>
      <div>
        <img *ngIf="enemigo.casa === 'DC'" class="img-logo" src="assets/img/dc-logo.jpg" alt="dc-logo">
        <img *ngIf="enemigo.casa === 'MARVEL'" class="img-logo" src="assets/img/marvel-logo.png" alt="marvel-logo">
        <img *ngIf="enemigo.casa === 'IMAGE'" class="img-logo" src="assets/img/image-logo.png" alt="image-logo">
      </div>
    </div>
</div>