<div class="all">
  <h1>Enemigos <small>Marvel y DC</small></h1>
  <hr>
  <div class="card" *ngFor="let enemigo of enemigos; let i = index">
    <img [src]="enemigo.img" [alt]="enemigo.titulo" class="picture">
    
    <div class="container">

      <h4 class="titulo">
        <b>{{ enemigo.titulo }}</b>
      </h4>

      <p class="texto">{{ enemigo.descripcion }}</p>

      <p>
        <small class="text-sec">{{ enemigo.year }}</small>
      </p>

      <button (click)="verEnemigo(i)" type="button" class="btn-ver-mas" >
        Ver más...
      </button>
    </div>
  </div>
</div>